.marco{
    width: 1440px;
    height: 42px;
    border: 2px solid black;
    margin: auto;
    margin-top: 5rem;
    background-color: #F5F5F5;
  display: flex;
  align-items: center;
  
  
    
    
}

.texto {
    padding-top: r  em;
    padding-left: 120px;
    
}
.imgubicacion{
    padding-left: 610px;
    
}