.marco{
    width: 1440px;
    height: 42px;
    margin: auto;
    margin-top: 5rem;
    background-color: #F5F5F5;
    display: flex;  
    align-items: center;
  
}
.texto {
    padding-left: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 510px;
}

.img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
}


.img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
}



.marco3{
    
    height: 90px;
    width: 1440px;
    border-bottom: 1px solid #EDEDED;
    display: grid;
    align-items: center;
}


.imagenes{
    padding-left: 6.5rem;
}


.marco4{
    
    height: 400px;
    width: 1440px;
    border-bottom: 1px solid #EDEDED;
    display: grid;
    align-items: center;
    padding: 2rem;
    padding-left: 6.5rem;
    position: relative;
}

.rectangulo {
    width: 1200px;
    height: 350px;
    background-color: #1d2341;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    align-items: center;
    border-radius: 16px;
    position: relative;
}
  
  .circulo {
      top: 110px;
      left: -55px;
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    position: absolute; 
   background-color: #F3F9FB;
    color: #008ECC;
}

.flecha {
padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;


}
.circulo2 {
    top: 110px;
    left: 1140px;
  width: 120px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  position: absolute; 
  background-color: #F3F9FB;
  color: #008ECC;
}

.flecha2 {
padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;


}

.textooo{
    padding-top: 2rem;
    font-family: HK Grotesk;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 3rem;
    font-size: 2rem;
}

.reloj {
    width: 20rem;
    padding-right: 3rem;
}

.puntos {
    padding-top: 4rem;
    width: 7rem;
}